push constant 2050
pop pointer 0
push constant 3010
pop pointer 1
push constant 1
pop this 0
push constant 2 
pop that 3
push constant 3020
pop pointer 0
push constant 3
pop this 0
push pointer 0
push pointer 1