function Square.enlarge 0
push argument 0
pop pointer 0
push this 0
push constant 2
add
pop this 0
push constant 0
return
function Square.shrink 0
push argument 0
pop pointer 0
push this 0
push constant 2
add
pop this 0
push constant 0
return
