function Main.main 1
push constant 1
call Main.decide 1
pop local 0
push local 0
call Output.printInt 1
pop temp 0
push constant 0
call Main.decide2 1
pop local 0
push local 0
call Output.printInt 1
pop temp 0
push constant 0
return
function Main.decide 0
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
goto IF_END0
label IF_FALSE0
push constant 1
return
label IF_END0
function Main.decide2 1
push constant 0
pop local 0
push argument 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop local 0
label IF_FALSE1
push local 0
return
