function Math.init 1
push constant 16
call Array.new 1
pop static 0
push static 0
push constant 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 0
label WHILE_START0
push local 0
push constant 16
lt
if-goto WHILE_TRUE0
goto WHILE_END0
label WHILE_TRUE0
push static 0
push local 0
add
push static 0
push local 0
push constant 1
sub
add
pop pointer 1
push that 0
push static 0
push local 0
push constant 1
sub
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_START0
label WHILE_END0
push constant 0
return
function Math.abs 0
push argument 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
neg
return
label IF_FALSE0
push argument 0
return
function Math.multiply 3
push constant 0
pop local 1
push argument 0
pop local 2
label WHILE_START0
push local 1
push constant 16
lt
if-goto WHILE_TRUE0
goto WHILE_END0
label WHILE_TRUE0
push argument 1
push local 1
call Math.bit 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 2
add
pop local 0
label IF_FALSE0
push local 2
push local 2
add
pop local 2
push local 1
push constant 1
add
pop local 1
goto WHILE_START0
label WHILE_END0
push local 0
return
function Math.bit 0
push argument 0
push static 0
push argument 1
add
pop pointer 1
push that 0
and
push static 0
push argument 1
add
pop pointer 1
push that 0
eq
return
function Math.divide 4
push argument 0
call Math.abs 1
pop local 1
push argument 1
call Math.abs 1
pop local 2
push argument 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 3
call Sys.error 1
pop temp 0
label IF_FALSE0
push local 2
push local 1
gt
push local 2
push local 2
add
push constant 0
lt
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 1
push local 2
push local 2
add
call Math.divide 2
pop local 0
push argument 0
push constant 0
lt
push argument 1
push constant 0
gt
and
push argument 0
push constant 0
lt
not
push argument 1
push constant 0
lt
and
or
pop local 3
push local 1
push constant 2
push local 0
push local 2
call Math.multiply 2
call Math.multiply 2
sub
push local 2
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push local 0
add
neg
return
label IF_FALSE3
push local 0
push local 0
add
return
goto IF_END2
label IF_FALSE2
push local 3
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push local 0
push constant 1
add
add
neg
return
label IF_FALSE4
push local 0
push local 0
push constant 1
add
add
return
label IF_END2
function Math.sqrt 3
push constant 0
pop local 0
push constant 7
pop local 1
push argument 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 3
call Sys.error 1
pop temp 0
label IF_FALSE0
label WHILE_START0
push local 1
push constant 0
lt
not
if-goto WHILE_TRUE0
goto WHILE_END0
label WHILE_TRUE0
push local 0
push static 0
push local 1
add
pop pointer 1
push that 0
add
pop local 2
push local 2
push local 2
call Math.multiply 2
push argument 0
gt
not
push local 2
push local 2
call Math.multiply 2
push constant 0
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
pop local 0
label IF_FALSE1
push local 1
push constant 1
sub
pop local 1
goto WHILE_START0
label WHILE_END0
push local 0
return
function Math.max 0
push argument 0
push argument 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
return
label IF_FALSE0
push argument 1
return
function Math.min 0
push argument 0
push argument 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
return
label IF_FALSE0
push argument 1
return
